Transcribe YouTube Videos which newly added-Multiple channels.json
{
  "name": "Transcribe YouTube Videos which newly added-Multiple channels",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        384,
        -96
      ],
      "id": "285df00c-0993-4a08-a8b9-491075dd67d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1104,
        -208
      ],
      "id": "b7de627c-589f-4104-95ba-737b86dd6c7e",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "=https://rss.app/feeds/uP2E5lpr7HVRFwzL.xml",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        784,
        32
      ],
      "id": "15f2f35d-250d-4405-954e-5865a604f1bd",
      "name": "RSS Read_2"
    },
    {
      "parameters": {
        "url": "=https://rss.app/feeds/MBp9KJupIn3NWXR1.xml",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        784,
        -208
      ],
      "id": "db092a07-b9d1-4326-bfca-3604d72dda95",
      "name": "RSS Read_1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1104,
        32
      ],
      "id": "423bd2bc-afc5-4f62-94ae-5d7a6ba93afb",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1face82-f74a-4b37-92dc-e227ce7ab23c",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        -208
      ],
      "id": "65674f39-0192-4430-a02c-abc56bbd83d0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1face82-f74a-4b37-92dc-e227ce7ab23c",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        32
      ],
      "id": "cec380b9-3618-4de1-916f-598b00a6e212",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://api.supadata.ai/v1/youtube/transcript?url={{ $json.link }}&text=true&lang=pt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sd_9d683422a20d5589afbcea747e8495f0"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "0d70f014-9afe-495a-9652-ae86b6ee878b",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1696,
        -208
      ],
      "executeOnce": false,
      "notesInFlow": false,
      "retryOnFail": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.supadata.ai/v1/youtube/transcript?url={{ $json.link }}&text=true&lang=pt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sd_9d683422a20d5589afbcea747e8495f0"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "0c0431f3-a288-4a5c-a1d0-4f1d83fc78f6",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1696,
        32
      ],
      "executeOnce": false,
      "notesInFlow": false,
      "retryOnFail": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in summarizing, grammar corrections and textual structing.\n {{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2048,
        -416
      ],
      "id": "7bf598be-9b2e-4665-bd0f-cafbe515cc2d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in summarizing, grammar corrections and textual structing.\n {{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2048,
        32
      ],
      "id": "87f90c1a-16b9-4db3-bb4c-c1a135c1c70b",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        -224
      ],
      "id": "9584fde7-2447-4c65-8cb9-33c4175ed1cb",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "DF66Vp17xQLXkVnF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        224
      ],
      "id": "57c400f4-8a4d-44d1-b552-335d951003a7",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "DF66Vp17xQLXkVnF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e0c175-8060-43da-9761-5c25d660c7ed",
              "name": "text",
              "type": "string",
              "value": "={{ $('RSS Read_1').item.json.creator }}\n\n{{ $('RSS Read_1').item.json.title }}\n\n{{ $('RSS Read_1').item.json.pubDate }}\n\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90f0c073-74c7-4161-83c9-1eba71bbdda3",
      "name": "Edit Fields - Respond to Chat Message ",
      "type": "n8n-nodes-base.set",
      "position": [
        2496,
        -416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e0c175-8060-43da-9761-5c25d660c7ed",
              "name": "text",
              "type": "string",
              "value": "={{ $('RSS Read_2').item.json.creator }}\n\n{{ $('RSS Read_2').item.json.title }}\n\n{{ $('RSS Read_2').item.json.pubDate }}\n\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "417d3521-bf2a-484f-8df4-755431639625",
      "name": "Edit Fields - Respond to Chat Message 1",
      "type": "n8n-nodes-base.set",
      "position": [
        2496,
        32
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#social",
          "mode": "name"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2864,
        -416
      ],
      "id": "32192e71-a45c-4d8b-90a5-35a0feb4904a",
      "name": "Send a message1",
      "webhookId": "a1a5ee96-01d2-47a4-b9f3-477455dff295",
      "credentials": {
        "slackOAuth2Api": {
          "id": "HbsuhvOuq5hrUPLu",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#social",
          "mode": "name"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2864,
        32
      ],
      "id": "6920c541-c2c8-46b1-bb14-25bb3124ad7d",
      "name": "Send a message2",
      "webhookId": "a1a5ee96-01d2-47a4-b9f3-477455dff295",
      "credentials": {
        "slackOAuth2Api": {
          "id": "HbsuhvOuq5hrUPLu",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read_1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read_1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read_2": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields - Respond to Chat Message ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Edit Fields - Respond to Chat Message 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Respond to Chat Message ": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Respond to Chat Message 1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d45dce3f-ee19-44e6-8700-c7a58138a3de",
  "meta": {
    "templateId": "3381",
    "templateCredsSetupCompleted": true,
    "instanceId": "382e8f191a6eb9bf3fed85b4323e1b6faeae5221b24c7d18c0a04cb083ede82b"
  },
  "id": "VS8ZcCIucQyNEdhj",
  "tags": []
}